<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EditPdf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EditPdf.Properties.Settings>
            <setting name="Carpeta" serializeAs="String">
                <value>C:\Users\aleKusa\Desktop</value>
            </setting>
            <setting name="OP" serializeAs="String">
                <value>SG Grande</value>
            </setting>
            <setting name="NroControl" serializeAs="String">
                <value>0</value>
            </setting>
        </EditPdf.Properties.Settings>
    </userSettings>
</configuration>